body{
    margin:0%;
    padding: 0%;
    background-image: url(login\ bckgrd\ img.jpg);
    background-size: cover;
}
.container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.card{
    padding: 60px 40px 60px 40px;
    background-color: rgb(146, 170, 225);
    border-radius: 10px;
}
#name{
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding: 6px;
    margin-bottom: 20px;
    width: 200px;
}
#button{
    border: 20px;
    padding: 10px 20px;
    margin-bottom: 50px;
    background: rgb(38, 120, 153);
    color: white;
    margin-top: 20px;
    border: none;
    outline: none;
    margin-left: 50px;

}
a{
    font-size: 13px;
}
img{
    border-radius: 50%;
    position: absolute;
    margin-left: 100px;
    margin-top: -40px;
}
#button:hover{
    background-color:rgb(16, 16, 26) ;
    cursor: pointer;
}